MINT_PHONE=XXXXXXXXXX
MINT_PASSWORD=your_password_here
MQTT_URL=mqtt://localhost:1883
MQTT_USER=
MQTT_PASS=
MQTT_PREFIX=mintmobile
MQTT_DISCOVERY=true
MQTT_DISCOVERY_PREFIX=homeassistant
POLL_INTERVAL_MINS=60
